*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li{
    width: calc((100% / 3) - 6em);
    margin: 3em;
}

.search{
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}