*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li{
    width: calc((100% / 3) - 6em);
    padding: 3em;
}

img{
    width: 100%;
}